// colors
$accent: #0f172a;
$background: #efefef;

//body
$margin: 9.375em;

// navbar
$navbar-background: #ffdc00;
$navbar-brand-font-size: 2em;
$navbar-brand-font-weight: 700;
$navbar-height: 3.5em;
$navbar-padding: 0 1em;
$navbar-width: 100%;

//footer
$footer-background: #f3f5f9; //#f3f5f9
$footer-height: 100%;
$footer-padding: 2em;
$footer-width: 100%;



