<a (click)="viewPost(post)" class="w-full py-2 flex flex-col post">
  <div
    class="
      h-fit
      md:h-72
      rounded
      overflow-hidden
      shadow-lg
      grid grid-rows-1
      gap-4
      grid-cols-1
      sm:grid-cols-2 sm:grid-rows-1
      bg-white
    "
  >
  <!-- row-start-2 md:row-start-1 -->
    <div class="px-6 py-4 row-start-2 md:row-start-1">
      <h1 class="title font-bold text-2xl mb-2">
        {{ post?.title }}
      </h1>
      <p class="text-sm" *ngIf="post.description">{{ post.description }}</p>
      <span class="text-gray-500 text-sm">{{
        post?.publishedAt | date: "yyyy-MM-dd"
      }}</span>
    </div>
    <img *ngIf="post.image" class="img w-full" [attr.src]="post.image" alt="" />
  </div>
</a>
