<nav class="navbar">
  <a class="brand" routerLink="home" routerLinkActive="active-link">WD</a>
  <!-- <div class="space-y-2">
    <div class="w-8 h-0.5 bg-gray-600"></div>
    <div class="w-8 h-0.5 bg-gray-600"></div>
    <div class="w-8 h-0.5 bg-gray-600"></div>
  </div> -->

  <div class="items">
    <!-- <li routerLink="home" routerLinkActive="active-link" class="new_post py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-slate-900">
      Home
    </li> -->

    <li routerLink="post" class="new_post py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-slate-900">
      Create Post
    </li>
  </div>
</nav>
